html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  height: 100vh;
  width: 100%;
}

.combobox {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;

  display: "flex";
  align-items: center;
}

.combobox-input {
  width: 300px;
  border: none;
  outline: none;
  padding: 0;
  flex: 1;
  margin-right: 5px;
}

.combobox-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-11px);
  width: 350px;
}

.combobox-option {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.combobox-option:hover {
  background-color: #f9f9f9;
}

.place-details-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 10vh;
  right: 1vw;
  width: 30vw;
  z-index: 1000;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.place-details-container .btn {
  font-size: 1.3rem;
  color: rgb(93, 93, 93);
  transition: background-color 0.3s, border-color 0.3s;
}